# Dependency directories
node_modules/
jspm_packages/

# OSX
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# npm
npm-debug.log*
package-lock.json

# yarn
yarn-error.log

# Editor directories and files
.idea/
.vscode/
*.sublime-workspace



# Env files
.env

# Log files
*.log
*.tmp

# Coverage directories
coverage/
.nyc_output/

# Temporary files
*~
*.swp

# Lock files
yarn.lock
