$slider-background-color: #e0e0e0;
$slider-border-color: #ccc;
$slider-border-radius: 0;
$slider-width: 2px;

$handle-color: #000;
$handle-border-radius: 0;
$handle-width: 26px;
$handle-height: 58px;
$handle-border-color: #fff;

$connect-color: #000;

.noUi-target {
  border: none;
  height: 100%;
  position: relative;
  border: none;
  border-radius: 0;
  background-color: transparent;
}



.noUi-vertical {
  width: 100%;
  position: relative;
  box-shadow: none;
  padding: 20px 0;

  .noUi-base {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    // border-radius: $slider-border-radius;

    &:before {
      content: '';
      width: 2px;
      height: 20px;
      background-color: $slider-background-color;
      position: absolute;
      top: -20px;
    }

    &:after {
      content: '';
      width: 2px;
      height: 20px;
      background-color: $connect-color;
      position: absolute;
      bottom: -20px;
    }

    .noUi-connects {
      width: 2px;
      background-color: $slider-background-color;

      .noUi-connect {
        background-color: $connect-color;
      }
    }
  }

  .noUi-origin {
    right: auto;
    left: 50%;
    margin-left: 25px;
  }

  .noUi-handle {
    background-color: $handle-color;
    border-radius: $handle-border-radius;
    width: $handle-width;
    height: $handle-height;
    border: none;
    box-shadow: none;
    bottom: -30px;
    left: -38px;
    cursor: pointer;

    &:before, &:after {
      display: none;
    }

    .noUi-touch-area {
      width: 56px;
      height: 56px;
      margin-top: 1px;
      margin-left: -15px;
      outline: none;
      // for debugging click area
      // background-color: rgba(0,0,0,.3);
    }
  }
}

.noUi-tooltip {
  display: none;
}