@import "normalize.css";

@mixin respond-to($point) {
  @if $point == small {
    @media (max-width: 600px) {
      @content;
    }
  }

  @else if $point == medium {
    @media (max-width: 900px) {
      @content;
    }
  }

  @else if $point == large {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @else if $point == portrait {
    @media (orientation: portrait) {
      @content;
    }
  }
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  background-color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

label {
  font-size: 10px;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: #666;
}

button {
  border: 1px solid black;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    background-color: black;
    color: white;
  }
}

.main-container {
  display: flex;
  flex-direction: row;

  @include respond-to(portrait) {
    flex-direction: column;
  }
}

.col {
  width: 50%;
  height: 100vh;
  position: relative;

  @include respond-to(portrait) {
    width: 100%;
    height: auto;
  }

  &.left {
    @include respond-to(portrait) {
      height: 50vh;
    }
  }
}

.trigger-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;

  .trigger-label {
    font-size: 14px;
  }
}

.triggers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;

  .trigger, .add-trigger {
    display: flex;
    width: 20%;
    height: 50%;
  }

  .trigger {
    flex-direction: column;
    padding: 10px 5%;
    row-gap: 15px;
    text-align: center;
    justify-content: space-between;

    &:nth-child(2n) {
      background-color: #eee;
    }
  }

  .add-trigger {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    border: 1px solid #eee;
    font-size: 10px;
    text-transform: uppercase;
    color: #666;

    &:hover {
      background-color: #eee;
    }
  }

  .control {
    display: flex;
    flex-direction: column;
    // row-gap: 10px;

    &.direction {
      button {
        margin-top: 4px;
      }
    }
  }

  input[type=range] {
    appearance: slider-vertical;
  }
}

/*GUI*/
.tabs {
  position: absolute;
  top: 0;
  left: 0;
}

.tab {
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.3s;
}

.tab:hover {
  background-color: #ddd;
}

.tabcontent {
  display: none;
  padding-top: 50px;
  border-top: none;
  overflow: hidden;
  height: 100%;
}

/*GUI for OSC*/
.oscConfigTable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  table-layout: fixed;
  background-color: white;
  /* Set the background color of the table */
}

.oscConfigTable,
.oscConfigTableHeader,
.oscConfigTableRow {
  border: 1px solid black;
}

.oscConfigTableHeader,
.oscConfigTableRow {
  padding: 10px;
  text-align: left;
  background-color: white;
  /* Set the background color of the cells */
}